<h2>
  Bienvenue sur mon site
</h2>

<h3>Disclaimer</h3>
<p>
  Ici, je vais m'entrainer pour monter en compétences avec Angular. J'ai créé en parallèle une API REST pour la partie communication avec l'API de Riot et scrapping.
  Ce projet est en chantier permanent, mais je ferai de mon mieux pour l'étoffer au fur et à mesure.
  <b>Il s'agit d'un projet personnel, il n'est pas à but lucratif et n'a pas vocation à illustrer la façon dont je code dans le monde professionnel,
    même s'il peut vous en donner une idée</b>
</p>

<p>
  Cette application permettra de rechercher les joueurs les plus assidus de chaque champion sur League of Legends, d'identifier s'ils sont en partie
  (sur le champion en question, ou pas) et de télécharger un fichier.bat vous permettant de lancer la partie en mode spectateur si vous avez installé le jeu.
</p>

<p>
  <b>Attention, étant donné que je ne dispose pas d'une clé API de production (qui doit par ailleurs être renouvelée sous les 24h), le nombre d'appels par minute est limité</b>
  Cet état de fait a conduit à certaines limitations au sein de l'application et vous invite à ne pas trop rafraîchier les pages en attendant
</p>

<h2>TODOS</h2>
<ul>
  <li>EVERYTHING</li>
</ul>

<button>Pour commencer, c'est par ici</button>
